.Daniil {
	margin-top: 40px;
	margin-left: 100px;
	width: 500px;
	height: 500px;
}
.Daniil2 {
	position: absolute;
	margin-top: 400px;
	margin-left: 800px;
	width: 500px;
	height: 500px;
}
.Menu {
	color: white;
	font-family: "Alumni Sans";
}
.Massa {
	position: absolute;
	display: flex;
	margin-left: 600px;
	margin-top: 200px;
	font-size: 4rem;
}
.Sec-Massa {
	position: absolute;
	display: flex;
	margin-left: 600px;
	margin-top: 270px;
	font-size: 2rem;
}
.aMenu {
	position: relative;
	display: inline-block;
	color: white;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.6px;
	text-decoration: none;
	transition: 0.5s;
	margin-top: 310px;
	margin-left: 600px;
}

.aMenu:hover {
	color: rgba(255,255,255,0.3);
	letter-spacing: 4px;
}
.aMenu span {
	position: absolute;
	left: -23px;
	bottom: 0;
	display: inline-block;
	background: white;
}
.aMenu span:first-child {
	width: 3px;
	height: 100%;
	transform: translateX(0);
	transition: 0.5s;
	opacity: 0;
}
.aMenu:hover span:first-child {
	transform: translateX(17px);
	opacity: 1;
}

.aMenu span:last-child {
	width: 100%;
	height: 3px;
	transform: translateY(0);
	transition: 0.5s;
	opacity: 0;
}
.aMenu:hover span:last-child {
	transform: translateY(-3px);
	opacity: 1;
}





