.adownload {
	text-decoration: none;
}
.download {
	position: absolute;
	top: 47%;
	left: 19%;																					
	transform: translate(-50%, -50%);
	height: 95px;
	width: 360px;
	background: #0e0e0e;
	border-radius: 55px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	cursor: pointer;
	overflow: hidden;
	font-family: "Alumni Sans";
}

.download .content {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	transition-delay: 0.2s;

}
.content i,
.content .button-text {
    color: #fff;
	font-size: 28px;
	margin-left: 8px;
	font-size: 40px;
}

.download.active .content {
	transform: translateY(60px);
}
.download.active {
	height: 20px;
	width: 500px;
} 
.download::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	border-radius: 55px;
	background-color: #c2c0c0;
}

.download.active:before {
	animation: layer 6s ease-in-out forwards;
}
@keyframes layer {
	100%{
		left: 0%
	}
}

@media  screen and (min-width: 320px) {
	.download {
		top: 650px;
		left: 170px;
		height: 85px;
		width: 270px;
	}
	.download.active {
		height: 20px;
		width: 270px;
	}
} 

@media  screen and (min-width: 375px) {
	.download {
		left: 190px;
		height: 95px;
		width: 360px;
	}
	.download.active {
		width: 360;
	}
} 

@media  screen and (min-width: 400px) {
	.download {
		top: 600px;
		left: 200px;
	}
}

@media  screen and (min-width: 700px) {
	.download {
		top: 500px;
		left: 240px;
	}
	.download.active {
		height: 20px;
		width: 300px;
	}
}

@media  screen and (min-width: 1100px) {
	.download {
		left: 240px;
	}
}
@media  screen and (min-width: 1024px) {
	.download {
		top: 450px;
		left: 270px;
	}
}
@media  screen and (min-width: 1200px) {
	.download {
		left: 270px;
	}
}
@media  screen and (min-width: 1400px) {
	.download {
		top: 450px;
		left: 300px;
	}
	.download.active {
		height: 20px;
		width: 500px;
	}

} 

@media  screen and (min-width: 1700px) {
	.download {
		top: 450px;
		left: 340px;
	}
}

@media  screen and (min-width: 2117px) {
	.download {
		top: 450px;
		left: 370px;
	}
}

@media  screen and (min-width: 2560px) {
	.download {
		top: 450px;
		left: 410px;
	}
}
