.quote {
	position: relative;
	display: flex;
	overflow: hidden;
    flex-direction: column;
}

.quote-first-text {
	color: silver;
	margin-top: 240px;
	margin-left: 1200px;
	font-size: 2.5rem;
	font-family: "Alumni Sans";
}
.quote-sec-text {
    color: silver;
	margin-top: 100px;
	margin-left: 1200px;
	font-size: 2.5rem;
	font-family: "Alumni Sans";
}
@media  screen and (min-width: 1440px) {
	.quote {
		right: 200px;
	}
} 
@media  screen and (min-width: 1700px) {
	.quote {
		right: 75px;
	}
} 
@media  screen and (min-width: 1920px) {
	.quote {
		right: 15px;
	}
} 

