.Welcome1 .text {
	position: relative;
	display: flex;
	overflow: hidden;
	margin-left: -100px;
	
}
.Welcome1 .first-text {
	color: white;
	margin-top: 220px;
	margin-left: 10%;
	font-size: 5.2rem;
	font-family: "Alumni Sans";
}
.Welcome1 .sec-text {
	color: white;
	margin-top: 0px;	
	margin-left: 10%;
	font-size: 3.2rem;
	font-family: "Alumni Sans";
}
